<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ShoppingCartMapper">

    <select id="list" resultType="com.sky.entity.ShoppingCart">
        select *
        from shopping_cart
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="setmealId != null">
                and setmeal_id = #{setmealId}
            </if>
            <if test="dishId != null">
                and dish_id = #{dishId}
            </if>
            <if test="dishFlavor != null">
                and dish_flavor = #{dishFlavor}
            </if>
        <!--
        - 它不是只按 dishId 查
        - 而是按 userId + dishId + dishFlavor 一起查

        - 没有 userId 就可能把别人的购物车也查出来
        - 没有 dishId 就不知道查的是哪道菜
        - 没有 dishFlavor 就会把同一道菜的不同口味误判成同一项
        -->
        </where>
        order by create_time asc
    </select>

</mapper>
